@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{

    scroll-behavior: smooth;
}

.contener-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contener-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contener-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #21c0ff;
    text-decoration: none;
}
.contener-header header ul{
    display: flex;
    list-style: none;
}
.contener-header header nav ul li a{
    --border-radius: 15px;
    --border-width: 2px;
    appearance: none;
    position: relative;
    padding: 10px 20px;
    border: 0;
    background-color: #212121;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    z-index: 2;
    text-decoration: none;
    margin: 5px;
}
.contener-header header nav ul li a:after{
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
           #488cfb,
           #ff9f0e,
           #1500ff,
           #488cfb
       );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 1500ms infinite;
  
}
.contener-header header nav ul li a:hover::after {
    animation-play-state: running;
}
.contener-header header nav ul li a:hover {
    background-color: #21c0ff52;
    border-radius: 30px;
}
@keyframes rotate-hue {
    to {
     filter: hue-rotate(1turn);
    }
   }
   
   .contener-header header nav ul li a,
   .contener-header header nav ul li a::after {
    box-sizing: border-box;
   }
   
   .contener-header header nav ul li a:active {
    --border-width: 5px;
   }
.nav-responsivo{
    background-color: #21c0ff;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.inicio{
    background: linear-gradient(to top, rgb(30 35 38 / 48%), rgb(30 35 38 / 95%)), url(img/fundo.png);
    background-size: cover;
    min-height: 750px;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: end;
    justify-content: center;
}
.fundo{
    background-color: #000;
    min-width: 400px;
    min-height: 700px;
    width: 25%;
    height: 85%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img{
    margin-top: 40px;
    border: 2px solid #21c0ff;
    width: 60%;
    border-radius: 100%;
}
#luca{
    margin-top: 20px;
    font-size: 32px;
    font-family: 'Righteous';
}
.fundo h2{
    margin-top: 5px;
    font-size: 15px;
    font-weight: normal;
}
.fundo div{
    margin-top: 10px;
}
#linguah3{
    margin-top: 30px;
}
#ling{
    width: 34px;
    height: 34px;
}
.fundo div a img:hover{
    width: 50px;
    height: 50px;
    transform: translateY(-8px);
    transition: 300ms;
}
#redeh3 {
    margin-top: 15px;
}
.social{
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 5px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}
  .social .icon {
    position: relative;
    background: #21c0ff;
    color: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  .social .iconrede {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  .social .iconrede::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  .social .icon:hover .iconrede {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  .social .icon:hover span,
  .social .icon:hover .iconrede {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
  .social .github:hover,
  .social .github:hover .iconrede,
  .social .github:hover .iconrede::before {
    background: #1877f2;
    color: #fff;
}
  .social .linkedin:hover,
  .social .linkedin:hover .iconrede,
  .social .linkedin:hover .iconrede::before {
    background: #1da1f2;
    color: #fff;
}
  .social .instagram:hover,
  .social .instagram:hover .iconrede,
  .social .instagram:hover .iconrede::before {
    background: #e4405f;
    color: #fff;
}

.sobremim{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremim .contener-seção{
    max-width: 1100px;
    margin: auto;
}
.sobremim h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.sobremim .contener-seção p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremim .contener-seção p span{
    color: #21c0ff;
    font-weight: bold;
}
.sobremim .dados{
    display: flex;
}
.sobremim .dados .lista-dados
{
    width: 50%;
}
.sobremim .dados .lista-dados h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremim .dados .lista-dados ul{
    list-style: none;
}
.sobremim .dados .lista-dados ul li{
    margin: 12px 0;
}
.sobremim .dados .lista-dados ul li strong{
    display: inline-block;
    color: #21c0ff;
    width: 130px;
}
.sobremim .dados .lista-dados ul li span{
    background-color: #21c0ff;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremim .dados .lista-dados .contenedor-interesses{
    display: flex;
    flex-wrap: wrap;
}
.sobremim .dados .lista-dados .contenedor-interesses .interesse{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremim .dados .lista-dados .contenedor-interesses .interesse:hover{
    background-color: #21c0ff;
}
.sobremim .dados .lista-dados .contenedor-interesses .interesse i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremim button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremim a {
    text-decoration: none;
}
.sobremim button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #21c0ff;
    z-index: -1;
    transition: 1s;
}
.sobremim button:hover .overlay{
    width: 100%;
}

.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.skills .contener-seção{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills .dados{
    display: flex;
}
.skills .dados .lista-dados{
    width: 50%;
    padding: 0 20px;
}
.skills .dados .lista-dados h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progresso{
    background-color: #21c0ff;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #21c0ff;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 89%;}
}

.skills .skill .php{
    width: 0%;
    animation: 2s php forwards;
}
@keyframes php {
    0%{width: 0%;}
    100%{width: 73%;}
}

.skills .skill .python{
    width: 0%;
    animation: 2s python forwards;
}
@keyframes python {
    0%{width: 0%;}
    100%{width: 51%;}
}

.skills .skill .react{
    width: 0%;
    animation: 2s react forwards;
}
@keyframes react {
    0%{width: 0%;}
    100%{width: 25%;}
}

.skills .skill .Comu{
    width: 0%;
    animation: 2s Comu forwards;
}
@keyframes Comu {
    0%{width: 0%;}
    100%{width: 89%;}
}

.skills .skill .trab{
    width: 0%;
    animation: 2s trab forwards;
}
@keyframes trab {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .criati{
    width: 0%;
    animation: 2s criati forwards;
}
@keyframes criati {
    0%{width: 0%;}
    100%{width: 74%;}
}

.skills .skill .dedi{
    width: 0%;
    animation: 2s dedi forwards;
}
@keyframes dedi {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .logistica{
    width: 0%;
    animation: 2s logistica forwards;
}
@keyframes logistica {
    0%{width: 0%;}
    100%{width: 86%;}
}
/* curriculo */
.curriculo{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.curriculo .contener-seção{
    max-width: 1100px;
    margin: auto;
}
.curriculo h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.curriculo .dados{
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    justify-items: center;

}
.curriculo .dados .lista-dados{
    width: 70%;
    padding: 0 20px;
}
.curriculo .dados .lista-dados h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.direita{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    margin-top: 20px;
    width: 240px;
    height: 224px;
    border-radius: 40px;
  }
.card:hover{
    transform: translateY(-8px);
    transition: 300ms;
    width: 260px;
    height: 234px;
}
  
.area2{
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #fff;
  }
  .bola{
    display: flex;
    align-items: center;
  }
  
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    font-size: 8px;
    height: 10px;
    width: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
  }
.btn1{
    background: #ff605c;
    }
.btn2{
    background: #ffbd44;
  }
.btn3{
    background: #00ca4e;
  }
.btn:hover{
    cursor: pointer;
  } 
.btn:focus{
    outline: none;
  }
  
.bola--exit{
    background: linear-gradient(#f37458 0%, #de4c12 100%);
  }
  .titulo{
    color: #8d8d8d;
    margin-left: 6px;
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
  }
  .txt_area{
    background: rgba(6, 0, 95, 0.9);
    height: calc(100% - 30px);
    padding-top: 2px;
    margin-top: -1px;
    font-size: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
.txt2{
    display: flex;
  }
.cursor{
    display: block;
    height: 14px;
    width: 5px;
    margin-left: 10px;
    animation: curbl 1200ms linear infinite;
  }
  @keyframes curbl {
    
    0% {
      background: #ffffff;
    }
  
    49% {
      background: #ffffff;
    }
  
    60% {
      background: transparent;
    }
  
    99% {
      background: transparent;
    }
  
    100% {
      background: #ffffff;
    }
  } 
.card-area{
    padding: 10px;
}
.card-area p{
    color: #00ffe7;
}
#espaço{
    margin-left: 10px;
    color: #fcff5c;
    margin-top: 5px;
}
.esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .contener-seção{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .projeto{
    position: relative;
    width: 340px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .projeto img{
    width: 100%;
    height: 100%;
    display: block;
}
.portfolio .galeria .projeto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .projeto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .projeto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .projeto .overlay:hover h3{
    margin-bottom: 0px;
}

.contato{
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contato .contener-seção{
    max-width: 1100px;
    margin: auto;
}
.contato h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contato .dados{
    display: flex;
}
.contato .lista-dados{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contato .lista-dados input, .contato .lista-dados textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contato button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contato button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #21c0ff;
    z-index: -1;
    transition: 1s;
}
.contato button:hover .overlay{
    width: 100%;
}
.contato .lista-dados img{
    width: 100%;
    height: 87%;
}
.contato .lista-dados .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contato .lista-dados .info ul{
    list-style: none;
}
.contato .lista-dados .info ul li{
    margin-bottom: 20px;
}
.contato .lista-dados .info ul li i{
    color: #21c0ff;
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .retorno{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #21c0ff;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsivo{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){


    .inicio .contener-banner {
        margin-top: 70px;
    }
    .sobremim .dados{
        display: block;
    }
    .sobremim .dados .lista-dados{
        width: fit-content;
    }

    .skills .dados{
        display: block;
    }
    .skills .dados .lista-dados{
        width: 100%;
    }
    .skills .dados .lista-dados .barra-skill{
        width: 100%;
    }

    .curriculo .dados{
        display: block;
    }
    .curriculo .dados .lista-dados{
        width: 100%;
    }

    .portfolio .galeria{
        display: flex;
        width: 100%;
        align-items: center;
    }
    .portfolio .galeria .projeto{
        max-width: 100%;
    }
    .portfolio .galeria .projeto img{
        width: 100%;
    }
    .contato .dados{
        display: block;
    }
    .contato .dados .lista-dados{
        width: 100%;
    }
    .card {
        width: 30vh;
        min-width: 220px;
        height: 32vh;
        min-height: 280px;
    }
    .direita {
        margin-top: 20px;
    }
}

